.search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #040404;
    border-radius: 5px 0 0 5px;
  }
  
  .search-button {  
    
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .recipe-card {
    flex-basis: calc(33.33% - 20px); /* Three cards per row with some gap */
    background-color: #040404;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .selected-recipe {
    margin-top: 20px;
    background-color: #060606;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .selected-recipe h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .selected-recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .selected-recipe p {
    margin-bottom: 10px;
  }
  